.login-container {
  background-color: lightcyan;
  width: 300px;
  padding: 2rem;
}

.register-container {
  background-color: lightcyan;
  width: 700px;
  padding: 2rem;
}

.link-form-container {
  margin-top: 2rem;
}

.link-form-container p {
  font-size: $text-sm;
}
