.login-layout-container {
  background-color: $grey-500;
  width: 350px;
}

.login-layout-container h1 {
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-size: $text-3xl;
  font-weight: $font-bold;
}
